# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# SQLite Database
*.db
*.sqlite3
database/database.db

# Uploaded/Encrypted files
encrypted_files/*
!encrypted_files/.gitkeep
